# idea
.idea

# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
.Python

eggs/
.eggs/
*.egg-info/
.installed.cfg
*.egg

# Virtual environment
/venv

# results
/bin/results

# Jupyter notebooks
*.ipynb_checkpoints

# DS_Store
*.DS_Store